body {
    margin: 0;
}
.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin-bottom: 10px;
}

input, button{
    padding: 4px;
    margin-top: 8px;
    width: -webkit-fill-available;
}

label{
    text-align: center;
}

label, input, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    font-size: xx-large;
}

.e_senha {
    background-color: transparent;
    color: black;
    border: none;
}

.entrar{
    background-color: snow;
    color: rgb(0, 0, 0);
    border: none;
}

.reg{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.error {
    color: rgb(0, 0, 0);
    background-color: red;
    display: none;
}
