body{
    background-color: lightgray;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}
h1{
    border: solid black 3px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-bottom: 20px;
}

h2{
    border:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -20px;
    margin-bottom: 40px;
}

input{
    border: none;
}


form{
    width: 300px;
}

button{
    cursor: pointer;
    margin-bottom: 5px;
}

button:active{
    opacity: 0.8;
}

button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}